<!DOCTYPE html>
<html>
<head>
    <title>404 - Not Found</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="card">
    <header>
        <h4>404 - Resource not found</h4>
    </header>
    {{{content}}}
    <footer class="is-right">
        <a class="button primary">OK.</a>
        <a class="button">Ok, but different color.</a>
    </footer>
</div>
</body>
</html>